# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives**
+ List popular languages for Data Science
+ List commonly used libraries for Data Science
+ Create a Data Science Tools table

Some of the popular languages the Data Scientists use are:
1. Python
2. Scala
3. R

Some of the most common libraries used by Data Scientists include:
1. Panda
2. Vegas
3. TensorFlow

| Data Science Tools |
| ------------------ |
| Jupyter lab |
| R Studio |
| Apache Spark |

### Below are a few examples of evaluating arithmetic expressions in Python.

In [3]:
# This is a simple arithmetic expression to multiply then add integers
(3*4)+5

17

In [4]:
# This will convert 200 minutes to hours by dividing 60
(200/60)

3.3333333333333335

## Author
Clifton Wiggins